* {
  color: #3C373B;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
}

p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

img {
  border-radius: 10px;
}

.banner {
  width: 750px;
}
.content-row {
  display: flex;
}
.dishes {
  width: 300px;
}
.content-row div {
  margin: 20px;
}

.container {
  margin: 0 auto;
  width: 750px;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #E79947;
}

.container header nav a:hover {
background: white;
color: #E79947;
}

.about {
  margin-top: 20px;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

.contact-section {
  line-height: 2;
}
footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  width: 750px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}


footer a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}


footer nav a:first-child {
  margin-left: 0;
}


footer nav a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
   /*======= metni ortalayacak kodu yazın */
}
